<!DOCTYPE html>
<html>
	<head>
		<title> Java Fiddle </title> 
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<link href="style.css" type="text/css" rel="stylesheet">
	</head>
<body>

<!-- BEGIN HEADER -->
	<header> </header>
<!-- END HEADER -->

<!-- BEGIN Title of Page -->
	<h1> Java Fiddle  </h1>
<!-- End of Title Page -->

<pre id="editor">
public class newProgram {
    
    public static void main (String [] args){
    
    }
    
}
</pre>

		<div id="Output">
		</div>

		<input id="compile" type="button" onClick="writeComment()" value="Compile" \>
		<input type="button" id="cancel" value="Cancel" \>
    
<script src="src/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/github");
    editor.getSession().setMode("ace/mode/java");
</script>
<script>
function writeComment(e) {
    var code = editor.getValue();
    document.getElementById('Output').innerHTML = code;
    e.preventDefault();
    return false;
}
</script>

</body>

</html>
