<!DOCTYPE html>
<html>
    <head>
        <title> Java Fiddle </title> 
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <link href="{{static_url('style.css')}}" type="text/css" rel="stylesheet">
    </head>
    <body>
        <!-- BEGIN HEADER -->
        <header> 
            <h1> Java Fiddle  </h1>
        </header>
        <!-- END HEADER -->


<pre id="editor">
    {{code}}
</pre>


        <div id="Output">
            <p id="OutputContent">
            
            </p>
        </div>
        <input type="button" id="compile" value="Compile" onClick="sendData()" \>
        
        <input type="button" id="cancel" value="Cancel" onClick="clearConsole()"\>
        
        <script src="{{static_url('ace.js')}}" type="text/javascript" charset="utf-8"></script>
        <script>
            var editor = ace.edit("editor");
            editor.setTheme("ace/theme/github");
            editor.getSession().setMode("ace/mode/java");
        </script>
        <script>
            var socket = new WebSocket("ws://localhost:8080/java");

            function clearConsole(e) {
                socket.close();
            }

            function sendData() {
                socket.send( "{{this.get_current_user()}}" + " " + editor.getValue() );
            }

            socket.onclose = function(){
                socket = new WebSocket("ws://localhost:8080/java");
                socket.onmessage = function(msg){
                    var msgevent = msg.data;
                    document.getElementById('OutputContent').innerHTML = msgevent;
                };
                document.getElementById('OutputContent').innerHTML = "";
            }

            socket.onmessage = function(msg){
                var msgevent = msg.data;
                document.getElementById('OutputContent').innerHTML = msgevent;
            };
        </script>
        <footer>
            <p>
                <a href="https://github.com/dkothari777/Hackathon2014">Java Fiddle GitHub</a> 
            </p>
        </footer>
    </body>

</html>
