<!DOCTYPE html>


<html>
	<head>
		<title> Java Fiddle </title> 
		<meta charset="UTF-8" />
		<meta name="description" content="This is a practice file for day 6." />
		<link href="style.css" rel="stylesheet" type="text/css">
	</head>
<body>
<!-- BEGIN HEADER -->
	<header> </header>
<!-- END HEADER -->

<!-- BEGIN Title of Page -->
	<h1> Java Fiddle  </h1>
<!-- End of Title Page -->

<!-- Input Area -->
	<form>
		<textarea id="java_input_stuff" rows="25" cols="100" attribute="wrap">
//CODE GOES HERE
		</textarea>
		<fieldset>
		<legend> Output </legend>
		<div id="Output">
		<div>
		</fieldset>
	</form>
	<form>
		<input id="compile" type="submit" value="Compile"/> 
	</form>
	
	<form action="/auth/logout" method="get">
		<input id="cancel" type="submit" value="Cancel" />
	</form>
    
<!-- END of Input Area -->

</body>
</html>
