
    html, body {
        overflow: hidden;
		height: 100%;
        width: 100%;
        font-family:"Times New Roman", Times, serif;
    }
    h1{
    border-style: solid;
    background-color: white;
    border-radius: 7px;
    display: inline-block;
    margin-left: 15px;
}
    
    .ace_editor {
		float:left;
        border: 1px solid lightgray;
        margin: auto;
        height: 80%;
        width: 50%;
        margin-right: 15px;
    }
	
	#Output {
        float: left;
        margin-left: 15px;
        border: 1px solid black;
        height: 80%;
        width: 45%;

	}
	
	#compile {
		float:left;
        margin: auto;
		height: 30px;
		width: 100px;
        clear:both;

	}
    #cancel{
        margin-left: 5%;
        float: left;
        margin: auto;
        height: 30px;
        width: 100px;
}
